extends ../layout

block content
  .container
    .row
      .col-sm-4.col-sm-offset-3
        form(method='POST')
          legend.h2.text-center Sign In
          .form-group
            .btn-group.btn-group-justified
              a.btn.btn-twitter(href='/auth/twitter')
                i.fa.fa-twitter
                | Twitter

