extends layout

block content
  if user
    .jumbotron
      .container
        h1.text-center Twitter Tone Analyzer 
        p.text-center.lead
         | A quick way to find out people's overall tone to a topic on Twitter.
        .row
          .col-sm-6.col-sm-offset-3
            .input-group
              input.form-control(type='text', placeholder='MSU,   DebateNight,    Les Miles',ng-model="hm.query", enter-submit="hm.analyze(hm.query)",)
              span.input-group-btn
                button.btn.btn-info(type='button', ng-click="hm.analyze(hm.query)" ng-focus="hm.form = null", ng-hide="hm.isLoading", ng-class="{disabled:!hm.query || hm.query.length < 5}") Go!
                button.btn.btn-info(ng-show="hm.isLoading")
                  i.fa.fa-spinner.fa-spin
    .container(ng-if="hm.form && !hm.isLoading")
      h3.text-center.lead
        i.fa.fa-twitter(style='color: #4099ff')
        | #{' '}Tweets containing <b>"{{hm.query}}"</b>
        
      .row
        h3.text-center Analysis:
        .col-sm-6.col-sm-offset-3
          section(ng-repeat="tone in hm.getTones(hm.form.tones)")
            p {{tone.tone_name}}
            .progress
              .progress-bar(ng-class="hm.getToneClass(tone.tone_id)", ng-style='hm.getScore(tone.score)')
              span.sr-only {{tone.tone_name}}
              
        .col-sm-8.col-sm-offset-2
          h2.text-center Tweets:
          ul.list.list-unstyled
            li(ng-repeat="tweet in hm.form.tweets")
              .panel.panel-default
                .panel-body
                  .clearfix
                    img.pull-left(ng-src='{{hm.getImageFromTweet(tweet)}}', width=50, height=50, style='margin-right: 10px')
                    span {{ tweet.user.name }}
                    small.text-muted  @{{tweet.user.screen_name}}
                    br
                    small {{tweet.text}}
  else
    .jumbotron
      .container
        h1.text-center Twitter Tone Analyzer 
        p.text-center.lead
          | A quick way to find out people's overall tone to a topic on Twitter.
        p.text-center
          a(href="/auth/twitter")
            i.fa.fa-twitter
              |  Sign In
          |  to begin.

    .container
      .row
        .col-sm-6.col-sm-offset-3
          p.text-center Say you want to find out how people reacted to the<b>"DebateNight"</b><br>Below would be a sample analysis:
          section(ng-repeat="tone in hm.dummyTones")
            p {{tone.tone_name}}
            .progress
              .progress-bar(ng-class="hm.getToneClass(tone.tone_id)", ng-style='hm.getScore(tone.score)')
              span.sr-only {{tone.tone_name}}
          